# Terraform garbage
**/.terraform.lock.hcl
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.backup
**/*.tfvars
crash.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore GCP credentials
mygcp-creds.json
mygcp-creds

# Bash Scripts
*.sh


# VSCode files
*.vscode/

# PyCharm files
.idea/